#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-container input {
  margin-bottom: 10px;
}

.input-form p {
  margin: 0;
  text-align: left;
}

