header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 2rem;
    color: #fff;
    background-color: #262626;
}

header img {
    display: flex;
    align-items: center;
    width: 130px;
    margin-right: 1rem;
}

header button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

header button:hover {
    background-color: white;
    color: black;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    font-weight: 500;
    font-size: 17px;
    color: white;
    text-decoration: inherit;
    margin-right: 50px;
}

.links a:hover {
    color: #535bf2;
}
