h2 {
    color: rgba(221, 235, 245, 1);
}

.auth-container {
    display: flex;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.logo-form-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 960px;
    height: 500px;
    gap: 75px;
    border-radius: 40px;
    border-color: #0d98fd;
    align-items: center;
}

.auth-logo-img {
    width: 480px;
    height: 183px;
}

.auth-image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    border-radius: 40px;
    background-color: #00000047;
    position: relative;
}

.swap-container {
    display: flex;
    justify-content: space-between;
}

.swap-container button {
    background-color: transparent;
    border: 1px solid;
    border-radius: 40px;
    border-color: #c1e1ff;
    color: rgba(221, 235, 245, 1);
    cursor: pointer;
    padding: 10px 10px;
    width: 420px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.swap-container button::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
}

.swap-button.active {
    border: 2px solid rgba(13, 152, 253, 1);
    color: rgba(118, 189, 241, 1);
    background: rgba(0, 32, 55, 1);
}

.input-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 100%;
    margin-top: -20px;
}

.label {
    color: #76bdf1e5;
    font-weight: 400;
}

.input-file-field,
.input-field {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-file-field,
.input-field input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.25rem 0;
    font-size: 1rem;
    border-bottom: 2px solid rgba(69, 92, 108, 0.4);
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.input-label {
    position: absolute;
    text-align: left;
    left: 0;
    transform-origin: 0 0;
    width: fit-content;
    color: #76bdf1e5;
    transition: 0.5s;
    z-index: -100;
}

.input-file-field {
    position: relative;
    width: 100%;
    border: none;
    margin: 22px 0;
}

.login {
    padding-top: 100px;
}

.auth-button-container {
    bottom: 0;
}

.input-file-label {
    left: 0;
    text-align: left;
    position: absolute;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid rgba(69, 92, 108, 0.4);
    color: #76bdf1e5;
}

.auth-file-input {
    z-index: 100;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
}

.left-arrow {
    width: 50px;
    margin-top: 5px;
}

.auth-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.auth-submit-button {
    background-color: #002037;
    border-radius: 40px;
    border-color: #0d98fd;
    color: #9cd1f7;
    width: 180px;
    margin-right: 40px;
}

.auth-submit-button:hover {
    background-color: #0868ad;
    border-color: #2ea7ff;
}

.auth-input:focus + .input-label,
.auth-input:not(:placeholder-shown) + .input-label {
    transform: translateY(-0.5rem) scale(0.8);
    margin-top: -5px;
}

.upload-image {
    position: absolute;
    right: 0;
    height: 24px;
    width: 24px;
    z-index: -99;
}

.radio-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.radio-container input[type="radio"] {
    /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    background-color: transparent;
    margin: 3px 10px 0 0;
}

/* Apply background image for unchecked state */
.radio-container input[type="radio"]::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../public/emptyRadio.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    margin-top: 3px;
}

.radio-container input[type="radio"]::before {
    background-image: url(../public/emptyRadio.svg);
}

.radio-container input[type="radio"]:checked::before {
    background-image: url(../public/filledRadio.svg);
}
