.container {
    display: flex;
    flex-direction: column;
    width: 1280px;
}

.fluidContainer {
    position: relative;
    align-items: center;
    display: flex;
    width: 100%;
}
.addIcon {
    margin: 0;
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    transition: ease 0.5s;
}

.addIcon:hover {
    cursor: pointer;
    scale: 1.1;
}

.request {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    border: 2px solid #0d98fd;
    border-radius: 40px;
    background-color: #1a1a1a;
    margin-block: 15px;
    text-align: left;
    padding: 10px 50px;
}
.label {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
}
.description {
    grid-row: 2;
    grid-column: 1 / span 2;
}
.owner {
    grid-row: 1;
    grid-column: 2;
    text-align: right;
}
.date {
    grid-row: 4;
    grid-column: 2;
    text-align: right;
}
.typeOfHelp {
    grid-row: 3;
    grid-column: 1 / span 2;
}
.modalWindowContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.modalContainer {
    position: fixed;
    background-color: #1a1a1a;
    height: 550px;
    width: 400px;
    padding: 50px;
    z-index: 151;
    margin-top: 150px;
    border-radius: 40px;
    border: solid 1px #0d98fd;
}

.submitButton {
    width: 100px;
    height: 40px;
    background-color: green;
}
.makespace {
    margin-block: 20px;
}

.makespace1 {
    margin-top: -20px;
}

.makespace2 {
    margin-top: 100px;
}

.cross {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: -30px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.respondButton {
    width: 50%;
    grid-row: 4;
    grid-column: 1;
    border-radius: 40px;
    border: solid 1px #0d98fd;
    background-color: #002037;
    margin-bottom: 20px;
    color: rgba(118, 189, 241, 1);
}

.respondButton:hover {
    background-color: #0868ad;
    border-color: #2ea7ff;
}

.editSvg {
    margin-left: 20px;
    height: 24px;
    width: 24px;
}
.label:hover {
    cursor: pointer;
    border-bottom: 2px solid #76bdf1b0;
}
